:root {
    --main-color: #1F1D2C;
    --accent-color: #F1A600;
}
@font-face {
    font-family: 'mi fuente';
    src: url("../font/Blueberry\ Days.ttf");
}
@font-face {
    font-family: 'my snows';
    src: url("../font/a_abstract_groovy/aAbstractGroovy.ttf");
}
@font-face {
    font-family: 'space_time';
    src: url("../font/Fragmentcore.otf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#name-detail {
    font-size: 45px;
    font-family: 'mi fuente';
    font-weight: 600;
    padding-top: 2px;
    color:black;
    text-shadow: 5px 5px 5px #f1a50074;
}

span{
    color: var(--accent-color);
    font-size: 25px;
}

.bod{
    z-index: 1;
    text-align: center;
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: 10% 90% 10%;
}

.p-experience{
    line-height: 25px;
    font-family: 'space_time';
    font-size: 18px;
}
.bttHome{
    background: none;
    border: none;
    align-items: flex-end;
    position: relative;
    float: right;
    margin-right: 20px;
    font-size: 17px;
    font-family: 'my snows';
    text-shadow: 2px 2px 2px var(--accent-color);
    text-decoration: underline 5px;
}
.bttHome:hover{
    font-size: 25px;
   }
.card-experience{  
    grid-row-start: 2;
    grid-column-start: 2;
    width:470px;
    height: 500px;
    border-radius: 5px;
    font-size: calc(10px + 2vmin);
    color: white;
    backdrop-filter: blur(1rem);
    background-color: rgba(255, 255, 255, 0.307);
    border: 0.1rem rgba(255, 255, 255, 0.18);
    align-items: center; 
}
.content-experience{
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.fon-experience{
   margin: 5px;
   padding-bottom: 5px;
}

.pie-experience{
    width:470px;
    display: inline-flex;
    align-items: center;
}

.one-experience{
    width:210px;
    height:350px;
    backdrop-filter: blur(1rem);
    background: linear-gradient(to top, rgb(5,85,134), rgba(181,181,181, 0.1));
    border-radius: 0.3rem rgba(255, 255, 255, 0.18);
    align-items: center; 
    margin: 10px;
}

.three-experience{
    width:210px;
    height:350px;
    background: linear-gradient(to top, rgb(170, 8, 159), rgba(181,181,181, 0.1));
    border: 0.3rem rgba(255, 255, 255, 0.18);
    margin: 10px;
}
.mb{
    height: 150px;
    width: 200px; 
    font-weight: bold;
}
.academlo{
    height: 150px;
    width: 150px; 
    margin-right: 20px;
    font-weight: bold;
}
.task{
    font-size: 18px;
}
.ul-task{
    margin-top: 8px 
    
}


@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    } 
  }
