:root {
    --main-color: #1F1D2C;
    --accent-color: #F1A600;
}
@font-face {
    font-family: 'mi fuente';
    src: url("../font/Blueberry\ Days.ttf");
}
@font-face {
    font-family: 'my snows';
    src: url("../font/a_abstract_groovy/aAbstractGroovy.ttf");
}
@font-face {
    font-family: 'space_time';
    src: url("../font/Fragmentcore.otf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#name-detail {
    font-size: 45px;
    font-family: 'mi fuente';
    font-weight: 600;
    padding-top: 2px;
    color:black;
    text-shadow: 5px 5px 5px #f1a50074;
}

span{
    color: var(--accent-color);
    font-size: 25px;
}

.bod{
    z-index: 1;
    text-align: center;
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: 10% 90% 10%;
}

p{
    line-height: 25px;
    font-family: 'space_time';
}
.bttHome{
    background: none;
    border: none;
    align-items: flex-end;
    position: relative;
    float: right;
    margin-right: 20px;
    font-size: 17px;
    font-family: 'my snows';
    text-shadow: 2px 2px 2px var(--accent-color);
    text-decoration: underline 5px;
}
.bttHome:hover{
    font-size: 25px;
   }
.card{  
    grid-row-start: 2;
    grid-column-start: 2;
    width:450px;
    height: 450px;
    border-radius: 5px;
    font-size: calc(10px + 2vmin);
    color: white;
    backdrop-filter: blur(1rem);
    background-color: rgba(255, 255, 255, 0.307);
    border: 0.1rem rgba(255, 255, 255, 0.18);
    align-items: center; 
}
content{
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3,32,51,.8);
    background-color: #282c34;
    display: flex;
    flex-direction: column;
}
.fon{
   margin: 5px;
   padding-bottom: 5px;
}

.pie-user{
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 40%;
}
.pie-user div {
    text-align: center;
}
.one-user{
    grid-column: 1;
}
.two-user{
    grid-column: 2;
    background-color: 2px #F1A600;
}
.three-user{
   align-items: center;
    grid-column: 3;
}
.utvm{
    height: 90px;
    width: 150px; 
    font-weight: bold;
}
.academlome{
    height: 80px;
    width: 80px; 
    margin-right: 20px;
    font-weight: bold;
}
